*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F5D04E;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
}

.container {

    max-width: 25%;
    width: fit-content;
    height: fit-content;
    background-color: white;
    padding: 25px;
    margin: 0 auto;
    border-radius: 20px;
    border: solid 2px ;
    box-shadow: 8px 10px  black;

}
.img-1{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: inline-block;
    border-radius: 10px;
}

#catigory{
    background-color: #F5D04E;
    width: fit-content;
    padding: 5px 10px;
    font-size:medium;
    font-weight:600 ;
    margin-bottom: 10px;
    border-radius: 5px;
}
#date{
    font-weight: bolder;
    font-size: small;
    display: inline-block;
    margin-bottom: 15px;
}
h1{
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 800;
}

#discription{
    margin-bottom: 20px;
}
.tutor{
display: flex;
align-items: center;
gap: 10px;
}
.tutor img{
    width: 32px;
    
}
.tutor .name{
    font-weight: bolder;
}


